/.vs/*
/ApiGateway/bin/*
/ApiGateway/obj/*
/IdentityServer/bin/*
/IdentityServer/obj/*
/Producst.Api/bin/*
/Producst.Api/obj/*
/Authentication.Api/bin/*
/Authentication.Api/obj/*
/IdentityService/bin/*
/IdentityService/obj/*
/ResponceModel/bin/*
/ResponceModel/obj/*
/TimeExtensions/bin/*
/TimeExtensions/obj/*