/.vs/*
/ApiGateway/bin/*
/ApiGateway/obj/*
/IdentityServer/bin/*
/IdentityServer/obj/*
/Product.Api/bin/*
/Product.Api/obj/*
/Authentication.Api/bin/*
/Authentication.Api/obj/*
/IdentityService/bin/*
/IdentityService/obj/*
/ResponceModel/bin/*
/ResponceModel/obj/*
/TimeServices/bin/*
/TimeServices/obj/*
/Market.Api/bin/*
/Market.Api/obj/*
/DatabaseModelsBase/bin/*
/DatabaseModelsBase/obj/*
/Authentication.Services/bin/*
/Authentication.Services/obj/*
/Market.Services/bin/*
/Market.Services/obj/*
/User.Services/bin/*
/User.Services/obj/*
/User.Api/bin/*
/User.Api/obj/*
/Product.Services/bin/*
/Product.Services/obj/*
